*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    background-color: black;
}

h1{
    color: whitesmoke
}

h2{
    color:antiquewhite
}
h3{
    color: antiquewhite;
    text-transform: uppercase
    }
h4{
    text-transform: uppercase;
    color: antiquewhite
}

li{
    color: goldenrod
}

.titulo-centrado-mayuscula{
text-align: center;
text-transform: uppercase;
color: antiquewhite;
}

.titulo-centrado{
    text-align: center;
    text-transform: capitalize;
    color: gold;
}

.fondodegrade{
    background: linear-gradient(171deg, rgba(2,0,36,1) 0%, rgba(158,123,7,1) 99%);
}