* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

.mainminimo {
    min-height: 100vh;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
}



.footer {
    background-color: black;
    text-transform: uppercase;
    text-decoration: none;
    color: gold;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: goldenrod;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.footerenlace {
    text-decoration: none;
}

.body {
    background-color: gold;
}



.inicio1texto {
    text-align: center;
    text-transform: uppercase;
    color: gold;
    font-size: 25px;
    background-color: black;
    font-weight: 700;
    line-height: 1.8;
    width: 100%;

}

.iniciotextofondo {
    background-color: black;
}

.inicio1foto {
    background-color: black;
    background-position: center;
    margin-top: 2rem;
    background-image: url(../perfil-BP-1.jpg);
    background-repeat: no-repeat;
    padding: 300px;
    background-attachment: fixed;

}

.listaheader {
    margin-left: 2rem;
    text-decoration: none;
}

.headerenlace {
    text-decoration: none;
}

a {
    color: inherit
}

.inicio2 {
    text-align: center;
    text-transform: uppercase;
    color: gold;
    font-size: 25px;
    background-color: black;
    margin-bottom: 5rem;
    margin-top: 3rem;
    flex-direction: row;
    justify-content: space-between
}

.header1 {
    width: 100%;
    background-color: gold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    padding: 0 2rem;
    align-items: center;

}

.imagenlogo {
    padding: 2 rem;
    width: 15%;

}

.menupaginainicio {
    background-color: black;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;


}

.menutitulo {
    font-size: 40px;
    margin-bottom: 2rem;
    text-align: center;
    color: gold;
    background-color: black;
    padding-top: 15px;
}


.navlista {
    display: flex;
    list-style: none;
    text-decoration: none;
    align-items: center;
    min-height: 60px;
}

.productopadre {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 500px;
    background-color: goldenrod;
    flex-wrap: wrap;
}

.productohijo1 {
    background-color: gold;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    padding: 1rem;
    position: relative;
    background-image: url(../hamburguesa.jpg);


}

.productohijo2 {
    background-color: gold;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    padding: 1rem;
    position: relative;
    background-image: url(../ensalada.jpg);

}

.productohijo3 {
    background-color: gold;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    padding: 1rem;
    position: relative;
    background-image: url(../cubierto2.jpg)
}

.productohijoenlace {
    color: black;
    text-decoration: none;

}

.productoimagen {
    position: absolute;
    bottom: 10;
    right: 10;
}

.tituloensalada {
    background-color: goldenrod;
    color: black
}

.subtitulovariedades {
    font-size: 20px;
    background-color: goldenrod;
    color: black
}

.subtitulovariedades2 {
    font-size: 25px;
    background-color: goldenrod;
    color: black
}

.fondopaginassecundarias {
    background-color: goldenrod;
    background-position: center;
}

.centrartodo {
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 25px;
    background-color: goldenrod;
    background-position: center;
}

.mb-3 {
    width: 300;
    height: 300;
    padding-top: 2rem
}

.mapa {
    padding-top: 2rem;
    border-radius: 10px;
}

.mapatitulo {
    color: black
}

.contacto1 {
    padding-top: 100px;
    justify-content: space-evenly;
   }

   .list-group-item,  list-group-item-action {
    background-color: rgb(240, 230, 206)
   }

   @media (max-width: 1023px){

   }
   
   @media (max-width: 600px){
    
}